.login-page {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #222;
    flex-flow: row;
}
.login-page .login-title {
    color: rgba(255, 255, 255, 0.95);
    font-size: 1.9em;
    letter-spacing: 10px;
    text-transform: uppercase;
    cursor: default;
    right: 3%;
    position: relative;
}

.login-button {
    border: 1px rgba(0, 0, 0, 0.8) solid;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 3px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.95);
    left: 3%;
    position: relative;
}

.login-button h6 {
    font-size: .9em;
    top: -26px;
    position: relative;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: capitalize;
    padding-right: 10px;
    cursor: pointer;
    height: 28px;
}

.login-button img {
    height: 24px;
    padding: 4px;
}