.badge {
    color: rgba(0, 0, 0, 0.7);
    border: 1px rgba(0, 0, 0, 0.7) solid;
    border-radius: 3px;
    text-align: center;
    font-size: .7em;
    font-weight: 500;
    padding: 3px;
    justify-content: center;
    align-items: center;
    letter-spacing: .2px;
    margin-top: 10px;
}